#
###########################################################
# My personal bash env configuration
###########################################################
#

export PS1='\[\033[31;1m\]<\[\033[34;1m\]\w\[\033[31;1m\]>\[\033[00m\n\[\033[32;1m\]$\[\033[00m\]'

source /usr/share/autojump/autojump.sh

export SOCKS_VERSION=5

export LESSCHARSET=utf-8
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'


# my alias
alias grep='grep --color=auto -rn'
alias fgrep='fgrep --color=auto -rn'
alias egrep='egrep --color=auto -rn'

alias vi='vim'
alias ct='ctags --sort=foldcase -R .'

alias ls='ls --show-control-chars --color=auto' #ls能够正常显示中文  
alias ll='ls -lhF'
alias la='ls -lhA'
alias l='ls -CF'

alias sr='screen -r'
alias sl='screen -ls'

alias gst='git status'
alias gcm='git commit'
alias gd='git diff'

alias dk='docker'
alias gg='sudo systemctl start graphical.target'

alias pip='pip install -i https://pypi.douban.com/simple/'
alias pip3='pip3 install -i https://pypi.douban.com/simple/'
